.logo {
    width: 250px
}
.nav-link{
   background-color: azure;
  
   margin: 10px;
}
.nav-item{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.img-home{
    width: 800px;

    

}
.text{

        font-size: 40px;
        line-height: 50px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 900;
        position: relative;
        background: white;
        overflow: hidden;
        text-transform: uppercase;
        text-align: center;
}
.text:before {
        content: '';
        position: absolute;
        filter: blur(10px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: screen;
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #000000 1em, #25a035 50%), repeating-linear-gradient(45deg, #29991f, #219130 1em, #FFF 1em, #BFE2FF 50%);
        background-size: 3em 3em, 2em 2em;
        animation-name: ani;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}
@keyframes ani {
        from {
        background-position: 0 0;
        }
        to {
        background-position: 100% 0;
        }
}
.text2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.text3{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}