

.items-container{
    display: block;
    grid-template-columns: repeat(top, minmax(250px, 4fr));
    grid-gap: 9px;
    width: 100%;
   
}


.items-element{
    display: block;
	float: left;
    background-color: rgb(214, 248, 216);
    box-shadow: 0 16px 24px 2px rgba(33,37,41,.02),
    0 6px 30px 5px rgba(33,37,41,.04),
    0 8px 10px -5px rgba(33,37,41,.1);
    border-radius: 3px;
    margin: 0 50px 50px 0;
    max-width: 300px;	
    outline: 1px solid rgb(189, 183, 183);
}
@media only screen and (min-width: 1000px) {
	.items-element {
		width: 19%;
	}
}
.items-element__name{
    margin-bottom: auto;
  
    text-align:right;
    font-size: 20px;
    font-family: "Geneva";
    

}
.items-element__img{
    width: 100%;
    height: 270px;
    object-fit: contain;
    margin-top: 15px;

}
.items-element__price{
    margin-top: 15px;
    color: black;
    margin:87px;
    text-align: "center";
    font-family: "Geneva";
 
    
    font-size: 23px;

}
.items-element__weight{
    margin-left: 5px;
    color: silver;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
}
.items-element__material{
    margin-left: 0px;
    color: silver;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    
}
.items-element__type{
    margin: 800px;
    color:silver;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    
}
.cena {
    font-size: 14px;
    color:rgb(250, 111, 111);
}
.sort-box{
   background-color: rgb(185, 236, 185);
   
   border: none;
outline: 0;
padding: 3px;
margin: 30px;
border:100px;
border-radius: 20px 20px 20px 20px;
text-align: center;
cursor: pointer;
width: 10%;
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
}
.sort-box2{
    background-color: rgb(185, 236, 185);
    
    border: none;
 outline: 0;
 padding: 3px;
 margin: 30px;
 border:100px;
 border-radius: 20px 20px 20px 20px;
 text-align: center;
 cursor: pointer;
 width: 10%;
 font-family: 'Times New Roman', Times, serif;
 font-size: 18px;
 }