.items-container{
    display: block;
    grid-template-columns: repeat(top, minmax(250px, 4fr));
    grid-gap: 9px;
    width: 100%;
}

.add-to-cart-button {
  width: 100%;
  height: 30px;
   background-color: rgb(119, 201, 119);
  border: none;
  border-radius: 7px;
  color: #fff;
}

.box-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 30px;
}

.items-element-wrapper {
  width: 20%;
  padding: 10px;
}

.items-element {
  display: block;
  float: left;
  background-color: '#fff';
  box-shadow: 2px 2px 15px 2px rgba(217,217,217,1);
  border-radius: 7px;

  width: 100%;
  padding: 20px;
}


.items-element__name{
    margin-bottom: auto;
  
    text-align:right;
    font-size: 20px;
}
.items-element__img{
    width: 100%;
    height: 270px;
    object-fit: contain;
    margin-top: 15px;

}
.items-element__price{
    margin-top: 15px;
    color: black;
    font-size: 23px;
}
.items-element__weight{
    color: silver;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
}
.items-element__material{
    margin-left: 0px;
    color: silver;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    
}
.items-element__type{
    margin: 800px;
    color:silver;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    
}
.cena {
    font-size: 14px;
    color:rgb(250, 111, 111);
}
.secret {
  position: absolute;
  z-index: 1000;
  width: 3px;
  height: 3px;
  left: 0;
  top: 0;
}

.sort-box{
   background-color: rgb(119, 201, 119);
   color: #fff;
   border: none;
outline: 0;
padding: 3px 5px;
margin: 20px 30px;
border:100px;
border-radius: 20px 20px 20px 20px;
text-align: center;
cursor: pointer;
font-size: 18px;
width: 230px
}

.promo-box{
  padding: 3px 10px;
  margin: 30px 30px 0 30px;
  border:100px;
  border-radius: 7px;
  font-size: 18px;
  width: 230px;
  border: 1px rgb(223, 223, 223) solid;
}
.sort-box2{
   background-color: rgb(119, 201, 119);
    
   color: #fff;
   border: none;
 outline: 0;
 padding: 3px;
 margin: 20px 30px;
 border:100px;
 border-radius: 20px 20px 20px 20px;
 text-align: center;
 cursor: pointer;
 width: 10%;
 font-size: 18px;
 width: 230px
 }